@import '../../../_sass/abstracts/';

.story19{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__tree {
		position: absolute;
		height: 100vh;
		left: 0;
	}
	&__snuitertje {
		position: absolute;
		bottom: 8vh;
		right: 20vw;
		height: 366px;		
		animation: snuitertje 10s 3s infinite;
	}
	&__jar{
		position: absolute;
		bottom: 10vh;
		right: 11vw;
		width: 128px;
		height: 166px;
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 15vh; 
		right: 7vw;
		font-size: 16px;
		text-align: center;
		color: $color-darkBrown;
		width: 25vw;
	}
	&__stone{
		position: absolute;
		width: 41px;
		height: 35px;
		bottom: 10vh;
		right: 15vw;	
	}
	#dropzone19 {
		position: absolute;
		bottom: 20vh;
		right: 25vw;
		width: 150px;
		height: 80px;
	}	
}

@keyframes snuitertje {
	0% {transform: rotate(10deg); }
	50% {transform: rotate(20deg); }
	100% {transform: rotate(10deg) ; }
}


