@import '../../../_sass/abstracts/';

.story16{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__tree {
		position: absolute;
		left: 15vw;
		top: 10vh;
		width: 689px;
		height: 687px;
		z-index: 1;
	}
	&__snuitertje {
		position: absolute;
		top: 52vh;
		left: 38vw;
		height: 191px;
		width: 156px;
		z-index: 10;
	}
	&__doctor {
		position: absolute;
		top: 25vh;
		right: 5.5vw;
		width: 100px;
		height: 149px;
		animation: 
			doctor ease-out 15s forwards;
	}
	&__text {
		position: absolute;
		margin: 0;
		bottom: 10vh; 
		right: 6vw;
		font-size: 20px;
		text-align: center;
		color: $color-brown;
		width: 35vw;
	}
}
@keyframes doctor {
	0% {transform: translateX(5vw) rotate(10deg) translateY(20px); } 
	50% {transform: rotate(-5deg) translateX(-35vw) translateY(90px); } 
	100% {transform: translateX(-30vw) translateY(90px); }
}
