@import '../../../_sass/abstracts/';

.story17{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__tree {
		position: absolute;
		height: 100vh;
		right: 0;
	}
	&__snuitertje {
		position: absolute;
		bottom: 7vh;
		left: 20vw;
		height: 366px;
	}
	&__magnifyingGlass{
		position: absolute;
		right: 0;
		top: 20vh;
		width: 215px;
		height: 210px;
	}
	&__doctor{
		&-withoutLeg{
			transform: scale(-1,1);		
			width: 201px;
			height: 261px;
			padding-right: 900px;
			padding-top: 210px;
		}	
		&-leg{
			position: absolute;
			top: 35vh;
			right: 5vw;
			width: 201px;
			height: 261px;
			animation: doctorLeg cubic-bezier(.81,.33,.35,.91) 2.5s infinite;
		}
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 15vh; 
		left: 10vw;
		font-size: 20px;
		text-align: center;
		color: $color-darkBrown;
		width: 35vw;
	}
}
