@import '../../../_sass/abstracts/';

.story04 {
	position: relative;
	width: 100vw;
	height: 100vh;
	&__bird {
		position: absolute;
		right: 0;
		padding: 80px 60px;
		width: 320px;
		height: 186px;
	}
	&__tree {
		position: absolute;
		height: 100vh;
		max-width: 80vw;
	}
	&__snuitertje {
		position: absolute;
		top: 1vh;
		left: 5vw;
		width: 240px;
		height: 366px;
	}
	&__snuitertje-leg {
		position: absolute;
		top: calc(1vh + 238px);
		left:  calc(5vw + 130px);
		width: 65px;
		height: 101.5px;
		object-fit: contain;
		transform-origin: top center;
		animation: leg cubic-bezier(.81,.33,.35,.91) 2.5s infinite;
	}
	&__doctor {
		position: absolute;
		bottom: 0;
		width: 430px;
		height: 512px;

		animation: 
			doctor ease-out 10s forwards, 
			doctor_listining ease-in-out 10s 10s infinite;
	}	
	&__text {
		position: absolute;
		top:34vh; 
		right: 0;
		padding: 0 60px;
		font-size: 20px;
		text-align: center;
		color: $color-brown;
		width: 400px;
	}
}	
@keyframes doctor {
	0% {transform: translateX(30vw) rotate(10deg) translateY(20px); } 
	50% {transform: rotate(-5deg) translateY(20px); } 
	100% {transform: translateX(30px) translateY(20px); }
}

@keyframes doctor_listining {
	0% {transform: translateX(70px) translateY(20px); }
	25% {transform: rotate(-10deg) translateY(70px) translateX(20px); }
	50% {transform: rotate(-10deg) translateY(100px) translateX(30px); }
	75% {transform: rotate(-5deg) translateY(20px) translateX(30px); }
}

