@import '../../../_sass/abstracts/';

.story08{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__tree {
		position: absolute;
		height: 100vh;
		max-width: 80vw;
	}
	&__medicin {
		position: absolute;
		top: 29vh;
		left: 2vw;
		width: 22vw;
		height: 30vh;
	}
	&__plaster {
		position: absolute;
		width: 13vw;
		height: 14vh;
		left: 2vw;
	}
	&__doctor {
		&-withoutLeg{
			position: absolute;
			top: 17vh;
			left: 22vw;
			width: 240px;
			height: 366px;
			z-index: 1;
		}
		&-leg{
			position: absolute;
			top: 19vh;
			left: 22vw;
			width: 240px;
			height: 366px;
			animation: doctorLeg cubic-bezier(.81,.33,.35,.91) 2.5s infinite;
		}
	}
	&__sickBranch {
		position: absolute;
		bottom: 0;
		left: 31vw;
		bottom: 10vh;
		width: 337px;
		height: 246px;
	}
	&__kit {
		position: absolute;
		bottom: 0;
		bottom: 4vh;
		right: 4vw;
		width: 322px;
		height: 340px;
	}
	&__saw{
		position: absolute;
		left: 31vw;
		bottom: 10vh;
		width: 103px;
		height: 89px;
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 6vh; 
		right: 9vw;
		font-size: 16px;
		text-align: center;
		color: $color-brown;
		width: 30vw;
	}
	&__snuitertje {
		position: absolute;
		bottom: 3vh;
		left: 50vw; 
		width: 280px;
		height: 299px;
		transform: scale(-1,1);		
	}
	#dropzone8 {
		position: absolute;
		bottom: 0;
		width: 280px;
		height: 310px;
	}	
}
