@import '../../../_sass/abstracts/';

.story03 {
	position: relative;
	width: 100vw;
	height: 100vh;
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__bird {
		position: absolute;
		right: 0;
		padding: 80px 60px;
		width: 320px;
		height: 186px;

		animation: 
			bird ease-in-out 25s infinite, 
	}
	&__tree {
		position: absolute;
		height: 100vh;
		max-width: 80vw;
	}
	&__snuitertje {
		position: absolute;
		bottom: 0;
		left: 26%;
		width: 240px;
		height: 366px;
		padding-bottom: 40px;
	}
	&__text {
		position: absolute;
		right: 0;
		top: 45%;
		margin: 0;
		margin-top: -50px;
		padding: 0 60px;
		width: 400px;
		text-align: center;
		font-size: 20px;
		color: $color-brown;
	}
	&__score {
		position: absolute;
		right: 0;
		top: 70%;
		margin: 0;
		margin-top: -50px;
		padding: 0 240px;
		font-size: 40px;
		color: $color-brown;
	}
	&__game {
		position: absolute;
		width: 80vw;
		padding-left: 15vw;
		height: 100vh;
		&-element {}
	}
}
@keyframes bird {
	0% {transform: translateX(30vw) rotate(10deg) translateY(20px); } 
	50% {transform: rotate(-5deg) translateY(20px); } 
	100% {transform: translateX(-80vw) translateY(20px); }

}
