@import '../../../_sass/abstracts/';

.story05 {
	position: relative;
	width: 100vw;
	height: 100vh;
	&__dawn {
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-color: black;
		z-index: 10;
	}
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__moon {
		position: absolute;
		left: 60%;
		width: 212px;
		height: 192px;
		z-index: 11;
		opacity: 0.8;
	}
	&__bird {
		position: absolute;
		right: 0;
		padding: 80px 60px;
		width: 320px;
		height: 186px;
	}
	&__tree {
		position: absolute;
		height: 100vh;
		max-width: 80vw;
	}
	&__snuitertje {
		position: absolute;
		top: 3vh;
		left: 5vw;
		width: 240px;
		height: 366px;
	}
	&__wrapper {
		position: absolute;
		top: 40vh; 
		right: 0;
		padding: 0 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 450px;
		font-size: 20px;
		color: $color-brown;
		z-index: 11;	
	}
	&__blanket{
		position: absolute;
		top: 26vh;
		left: 4vw;
		width: 267px;
		height: 139px;
	}
	&__arrow {
		position: absolute;
		top: 57vh; 
		right: 0;
		padding-right: 150px;
		width: 272px;
		height: 128px;
		z-index: 20;
		}
}
